<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Prototype | Overview</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../static/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="../static/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../static/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/vendors/owl-carousel-2/owl.theme.default.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../static/images/favicon.png" />
    <!-- Danfo for DataFrame -->
    <script src="https://cdn.jsdelivr.net/npm/danfojs@1.0.4/lib/bundle.js"></script>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="../static/images/faces/face15.jpg" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Henry Klein</h5>
                  <span>Gold Member</span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/index.html">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Overview</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/trading.html">
              <span class="menu-icon">
                <i class="mdi mdi-chart-line"></i>
              </span>
              <span class="menu-title">Trading</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="mdi mdi-chart-arc"></i>
              </span>
              <span class="menu-title">Homemade ETF</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/portfolio-view.html">View</a></li>
                <li class="nav-item"> <a class="nav-link" href="/portfolio-transfer.html">Manage</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/history.html">
              <span class="menu-icon">
                <i class="mdi mdi-file-document-box"></i>
              </span>
              <span class="menu-title">Trading History</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/news.html">
              <span class="menu-icon">
                <i class="mdi mdi-newspaper"></i>
              </span>
              <span class="menu-title">News</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="https://www.hsbc.com.hk/zh-hk/investments/products/stocks/trade25/" target="_blank" rel="noopener noreferrer">
              <span class="menu-icon">
                <i class="mdi mdi-school"></i>
              </span>
              <span class="menu-title">Trade25 Academy</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="../static/images/logo-mini.png" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <input type="text" class="form-control" placeholder="Search stocks">
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link" href="#">
                  <i class="mdi mdi-view-grid"></i>
                </a>
              </li>

              <li class="nav-item dropdown border-left">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                  <i class="mdi mdi-bell"></i>
                  <span class="count bg-danger"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                  <h6 class="p-3 mb-0">Notifications</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-currency-usd text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">TSLA</p>
                      <p class="text-muted ellipsis mb-0"> reaches $890.56 </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-currency-usd text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">AAPL</p>
                      <p class="text-muted ellipsis mb-0"> paid dividend $0.88 </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-file-chart text-warning"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">GOOG</p>
                      <p class="text-muted ellipsis mb-0"> announces annual report tomorrow </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">See all notifications</p>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="../static/images/faces/face15.jpg" alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">Henry Klein</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">Profile</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Settings</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Log out</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">Advanced settings</p>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
		  
		  <!-- Top 4 index of page  -->
            <div class="row">
              <!-- S&P500 -->
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">{{sp}}</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">{{change_sp}}%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">S&P</h6>
                  </div>
                </div>
              </div>
              <!-- Dow -->
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">${{dow}}</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">{{change_dow}}%</p>					
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Dow Jones</h6>
                  </div>
                </div>
              </div>
              <!-- Nasdaq -->
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">${{nasdaq}}</h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium">{{change_nasdaq}}%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Nasdaq</h6>
                  </div>
                </div>
              </div>
              <!-- Crude Oil -->
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">${{CurdeOilPrice}}</h3>
                          <p class="text-danger ml-2 mb-0 font-weight-medium">{{change_CurdeOilPrice}}%</p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Crude Oil</h6>
                  </div>
                </div>
              </div>
            </div>
			<!-- Left of the page: Total Account Value + Portfolio Value -->
            <div class="row">
              <div class="col-lg-4">
			  
                <!-- Total Accout Value -->
                <div class="grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="page-header" style="margin: 0px 0px 0px 0px">
                        <h4 class="card-title">Total Account Value</h4>
                      </div>
                      <div class="row">
                        <div class="col"><b style="display:block">$5,012.82</b></div>
                        <!-- <nav aria-label="breadcrumb"> -->
                          <!-- <ol class="breadcrumb" style="padding: 0px 0px 0px 0px"> -->
                            <!-- <li class="breadcrumb-item"><a href="portfolio-transfer.html">Deposit</a></li> -->
                            <!-- <li class="breadcrumb-item"><a href="portfolio-transfer.html">Withdraw</a></li> -->
                          <!-- </ol> -->
                        <!-- </nav> -->
                      </div>
                      
                      <div class="row" style="padding-top: 20px">
                        <div class="col">
                          <p>Open's' P/L<br>
                            <span class="text-danger">-8.04%</span>
                          </p>
                        </div>
                        <div class="col">
                          <p style="text-align:right">Day P/L<br>
                            <span class="text-success">+1.32%</span>
                          </p>
                        </div>
                      </div>
  
                      <div class="row" style="padding-top: 10px">
                        <div class="col">
                          <p style="text-align:left; color:grey">Market Value<br>
                            <span style="color:white">$4,513.34</span>
                          </p>
                        </div>
                        <div class="col">
                          <p style="text-align:centre; color:grey">Cash<br>
                            <span style="color:white">499.48</span>
                          </p>
                        </div>
                        <div class="col">
                          <p style="text-align:right; color:grey">Buying Power<br>
                            <span style="color:white">469.48</span>
                          </p>
                        </div>
                      </div>
					  <div class="row" style="padding-top: 10px">
							<button type="Deposit" class="btn btn-inverse-primary btn-submit" id="btnDeposit" style="margin: 15px 15px 15px 15px;">
								Deposit
							</button>
							<button type="Exchange" class="btn btn-inverse-primary btn-submit" id="btnExchange" style="margin: 15px 15px 15px 15px;">
								Exchange
							</button>
							<button type="Withdraw" class="btn btn-inverse-primary btn-submit" id="btnWithdraw" style="margin: 15px 15px 15px 15px;">
								Withdraw
							</button>				
							<button type="Transfer" class="btn btn-inverse-primary btn-submit" id="btnTransfer" style="margin: 15px 15px 15px 15px;">
								Transfer
							</button>								
					  </div>
                    </div>
                  </div>
                </div>
				
			  <!-- Portfolio Value Card -->
        <div class="grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="page-header" style="margin: 0px 0px 0px 0px">
                <h4 class="card-title">Homemade ETF Value</h4>
                
              </div>
              <div class="row">
                <div class="col"><b style="display:block">$1,815.40</b></div>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb" style="padding: 0px 0px 0px 0px">
                    <li class="breadcrumb-item"><a href="portfolio-transfer.html">Deposit</a></li>
                    <li class="breadcrumb-item"><a href="portfolio-transfer.html">Withdraw</a></li>
                  </ol>
                </nav>
              </div>
              
              <div class="row" style="padding-top: 20px">
                <div class="col">
                  <p>Today's' P/L<br>
                    <span class="text-danger">-7.06%</span>
                  </p>
                </div>
                <div class="col">
                  <p style="text-align:right">P/L<br>
                    <span class="text-success">+2.17%</span>
                  </p>
                </div>
              </div>
              <div class="row" style="padding-top: 10px">
                <div class="col">
                  <p style="text-align:centre; color:grey">% of Account<br>
                    <span style="color:white">40.04%</span>
                  </p>
                </div>
                <div class="col">
                  <p style="text-align:right; color:grey">Acc. Value<br>
                    <span style="color:white">$5000.52</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
			  
            </div>

			
			<div class="col-lg-8">
			<!-- Overview Composition -->
				<div class="grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Overview Composition</h4>
                        <div class="col my-3"><canvas id="doughnutChart3" height="100"></canvas></div>
						<div class="table-responsive">
                        <table class="table table-striped" id="holdings-table">
                        </table>
                      </div>
						
                  </div>
                </div>
              </div>
            </div>

			  
             </div>

            <div class="row">
			<!-- Pending Order -->
				<div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Pending Order</h4>
                    <div class="table-responsive">
                      <form class="grid" action="http://127.0.0.1:5001/trading.html">
                        <table class="table table-striped" id="portfolio-allocation"><tr>
						<th>Buy/Sell</th>
						<th>Ticker</th>
						<th>Price</th>
						<th>Quantity</th>
						<th></th>
						<!-- <i class="mdi mdi-plus" onclick="AddRow()"></i> -->
						</tr><tbody>
						
							<tr>
							<td><div class="badge badge-outline-success">Buy</div></td>
							<td><input type="hidden" name="Ticker_0" value="DIS">DIS</td>
							<td><input type="hidden" name="Price_0" value="NaN">117</td>
							<td><input type="hidden" name="Quantity_0" value="0.15">0.15</td>
							<td><i class="mdi mdi-trash-can-outline" onclick="deleteRow(this)"></i></td>
							</tr>
							
							<tr>
							<td><div class="badge badge-outline-danger">Sell</div></td>
							<td><input type="hidden" name="Ticker_1" value="APPL">APPL</td>
							<td><input type="hidden" name="Price_1" value="170.80">156</td>
							<td><input type="hidden" name="Quantity_1" value="2">2</td>
							<td><i class="mdi mdi-trash-can-outline" onclick="deleteRow(this)"></i></td>
							</tr>
							
							<tr>
							<td><div class="badge badge-outline-danger">Sell</div></td>
							<td><input type="hidden" name="Ticker_1" value="MSFT">MSFT</td>
							<td><input type="hidden" name="Price_1" value="345.88">270</td>
							<td><input type="hidden" name="Quantity_1" value="2">2</td>
							<td><i class="mdi mdi-trash-can-outline" onclick="deleteRow(this)"></i></td>
							</tr>
							
							<tr>
							<td><div class="badge badge-outline-success">Buy</div></td>
							<td><input type="hidden" name="Ticker_0" value="NVDA">NVDA</td>
							<td><input type="hidden" name="Price_0" value="30">189</td>
							<td><input type="hidden" name="Quantity_0" value="1">1</td>
							<td><i class="mdi mdi-trash-can-outline" onclick="deleteRow(this)"></i></td>
							</tr>

							<tr>
							<td><div class="badge badge-outline-danger">Sell</div></td>
							<td><input type="hidden" name="Ticker_0" value="NVDA">NVDA</td>
							<td><input type="hidden" name="Price_0" value="40">188</td>
							<td><input type="hidden" name="Quantity_0" value="2">2</td>
							<td><i class="mdi mdi-trash-can-outline" onclick="deleteRow(this)"></i></td>
							</tr>
							
							<tr>
							<td><div class="badge badge-outline-success">Buy</div></td>
							<td><input type="hidden" name="Ticker_0" value="AAPL">AAPL</td>
							<td><input type="hidden" name="Price_0" value="NaN">152</td>
							<td><input type="hidden" name="Quantity_0" value="0.1">0.1</td>
							<td><i class="mdi mdi-trash-can-outline" onclick="deleteRow(this)"></i></td>
							</tr>								
							
							</tbody></table>
							
                      </form>
                    </div>
                    
                    
                  </div>
                </div>
              </div>
            </div>
                </div>
              </div>
            </div>
            <!-- <div class="row"> -->
              <!-- <div class="col-md-6 col-xl-4 grid-margin stretch-card"> -->
                <!-- <div class="card"> -->
                  <!-- <div class="card-body"> -->
                    <!-- <div class="d-flex flex-row justify-content-between"> -->
                      <!-- <h4 class="card-title">Messages</h4> -->
                      <!-- <p class="text-muted mb-1 small">View all</p> -->
                    <!-- </div> -->
                    <!-- <div class="preview-list"> -->
                      <!-- <div class="preview-item border-bottom"> -->
                        <!-- <div class="preview-thumbnail"> -->
                          <!-- <img src="../static/images/faces/face6.jpg" alt="image" class="rounded-circle" /> -->
                        <!-- </div> -->
                        <!-- <div class="preview-item-content d-flex flex-grow"> -->
                          <!-- <div class="flex-grow"> -->
                            <!-- <div class="d-flex d-md-block d-xl-flex justify-content-between"> -->
                              <!-- <h6 class="preview-subject">Leonard</h6> -->
                              <!-- <p class="text-muted text-small">5 minutes ago</p> -->
                            <!-- </div> -->
                            <!-- <p class="text-muted">Well, it seems to be working now.</p> -->
                          <!-- </div> -->
                        <!-- </div> -->
                      <!-- </div> -->
                      <!-- <div class="preview-item border-bottom"> -->
                        <!-- <div class="preview-thumbnail"> -->
                          <!-- <img src="../static/images/faces/face8.jpg" alt="image" class="rounded-circle" /> -->
                        <!-- </div> -->
                        <!-- <div class="preview-item-content d-flex flex-grow"> -->
                          <!-- <div class="flex-grow"> -->
                            <!-- <div class="d-flex d-md-block d-xl-flex justify-content-between"> -->
                              <!-- <h6 class="preview-subject">Luella Mills</h6> -->
                              <!-- <p class="text-muted text-small">10 Minutes Ago</p> -->
                            <!-- </div> -->
                            <!-- <p class="text-muted">Well, it seems to be working now.</p> -->
                          <!-- </div> -->
                        <!-- </div> -->
                      <!-- </div> -->
                      <!-- <div class="preview-item border-bottom"> -->
                        <!-- <div class="preview-thumbnail"> -->
                          <!-- <img src="../static/images/faces/face9.jpg" alt="image" class="rounded-circle" /> -->
                        <!-- </div> -->
                        <!-- <div class="preview-item-content d-flex flex-grow"> -->
                          <!-- <div class="flex-grow"> -->
                            <!-- <div class="d-flex d-md-block d-xl-flex justify-content-between"> -->
                              <!-- <h6 class="preview-subject">Ethel Kelly</h6> -->
                              <!-- <p class="text-muted text-small">2 Hours Ago</p> -->
                            <!-- </div> -->
                            <!-- <p class="text-muted">Please review the tickets</p> -->
                          <!-- </div> -->
                        <!-- </div> -->
                      <!-- </div> -->
                      <!-- <div class="preview-item border-bottom"> -->
                        <!-- <div class="preview-thumbnail"> -->
                          <!-- <img src="../static/images/faces/face11.jpg" alt="image" class="rounded-circle" /> -->
                        <!-- </div> -->
                        <!-- <div class="preview-item-content d-flex flex-grow"> -->
                          <!-- <div class="flex-grow"> -->
                            <!-- <div class="d-flex d-md-block d-xl-flex justify-content-between"> -->
                              <!-- <h6 class="preview-subject">Herman May</h6> -->
                              <!-- <p class="text-muted text-small">4 Hours Ago</p> -->
                            <!-- </div> -->
                            <!-- <p class="text-muted">Thanks a lot. It was easy to fix it .</p> -->
                          <!-- </div> -->
                        <!-- </div> -->
                      <!-- </div> -->
                    <!-- </div> -->
                  <!-- </div> -->
                <!-- </div> -->
              <!-- </div> -->
              <!-- <div class="col-md-6 col-xl-4 grid-margin stretch-card"> -->
                <!-- <div class="card"> -->
                  <!-- <div class="card-body"> -->
                    <!-- <h4 class="card-title">Portfolio Slide</h4> -->
                    <!-- <div class="owl-carousel owl-theme full-width owl-carousel-dash portfolio-carousel" id="owl-carousel-basic"> -->
                      <!-- <div class="item"> -->
                        <!-- <img src="../static/images/dashboard/Rectangle.jpg" alt=""> -->
                      <!-- </div> -->
                      <!-- <div class="item"> -->
                        <!-- <img src="../static/images/dashboard/Img_5.jpg" alt=""> -->
                      <!-- </div> -->
                      <!-- <div class="item"> -->
                        <!-- <img src="../static/images/dashboard/img_6.jpg" alt=""> -->
                      <!-- </div> -->
                    <!-- </div> -->
                    <!-- <div class="d-flex py-4"> -->
                      <!-- <div class="preview-list w-100"> -->
                        <!-- <div class="preview-item p-0"> -->
                          <!-- <div class="preview-thumbnail"> -->
                            <!-- <img src="../static/images/faces/face12.jpg" class="rounded-circle" alt=""> -->
                          <!-- </div> -->
                          <!-- <div class="preview-item-content d-flex flex-grow"> -->
                            <!-- <div class="flex-grow"> -->
                              <!-- <div class="d-flex d-md-block d-xl-flex justify-content-between"> -->
                                <!-- <h6 class="preview-subject">CeeCee Bass</h6> -->
                                <!-- <p class="text-muted text-small">4 Hours Ago</p> -->
                              <!-- </div> -->
                              <!-- <p class="text-muted">Well, it seems to be working now.</p> -->
                            <!-- </div> -->
                          <!-- </div> -->
                        <!-- </div> -->
                      <!-- </div> -->
                    <!-- </div> -->
                    <!-- <p class="text-muted">Well, it seems to be working now. </p> -->
                    <!-- <div class="progress progress-md portfolio-progress"> -->
                      <!-- <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> -->
                    <!-- </div> -->
                  <!-- </div> -->
                <!-- </div> -->
              <!-- </div> -->
              <!-- <div class="col-md-12 col-xl-4 grid-margin stretch-card"> -->
                <!-- <div class="card"> -->
                  <!-- <div class="card-body"> -->
                    <!-- <h4 class="card-title">To do list</h4> -->
                    <!-- <div class="add-items d-flex"> -->
                      <!-- <input type="text" class="form-control todo-list-input" placeholder="enter task.."> -->
                      <!-- <button class="add btn btn-primary todo-list-add-btn">Add</button> -->
                    <!-- </div> -->
                    <!-- <div class="list-wrapper"> -->
                      <!-- <ul class="d-flex flex-column-reverse text-white todo-list todo-list-custom"> -->
                        <!-- <li> -->
                          <!-- <div class="form-check form-check-primary"> -->
                            <!-- <label class="form-check-label"> -->
                              <!-- <input class="checkbox" type="checkbox"> Create invoice </label> -->
                          <!-- </div> -->
                          <!-- <i class="remove mdi mdi-close-box"></i> -->
                        <!-- </li> -->
                        <!-- <li> -->
                          <!-- <div class="form-check form-check-primary"> -->
                            <!-- <label class="form-check-label"> -->
                              <!-- <input class="checkbox" type="checkbox"> Meeting with Alita </label> -->
                          <!-- </div> -->
                          <!-- <i class="remove mdi mdi-close-box"></i> -->
                        <!-- </li> -->
                        <!-- <li class="completed"> -->
                          <!-- <div class="form-check form-check-primary"> -->
                            <!-- <label class="form-check-label"> -->
                              <!-- <input class="checkbox" type="checkbox" checked> Prepare for presentation </label> -->
                          <!-- </div> -->
                          <!-- <i class="remove mdi mdi-close-box"></i> -->
                        <!-- </li> -->
                        <!-- <li> -->
                          <!-- <div class="form-check form-check-primary"> -->
                            <!-- <label class="form-check-label"> -->
                              <!-- <input class="checkbox" type="checkbox"> Plan weekend outing </label> -->
                          <!-- </div> -->
                          <!-- <i class="remove mdi mdi-close-box"></i> -->
                        <!-- </li> -->
                        <!-- <li> -->
                          <!-- <div class="form-check form-check-primary"> -->
                            <!-- <label class="form-check-label"> -->
                              <!-- <input class="checkbox" type="checkbox"> Pick up kids from school </label> -->
                          <!-- </div> -->
                          <!-- <i class="remove mdi mdi-close-box"></i> -->
                        <!-- </li> -->
                      <!-- </ul> -->
                    <!-- </div> -->
                  <!-- </div> -->
                <!-- </div> -->
              <!-- </div> -->
            <!-- </div> -->
            <!-- <div class="row"> -->
              <!-- <div class="col-12"> -->
                <!-- <div class="card"> -->
                  <!-- <div class="card-body"> -->
                    <!-- <h4 class="card-title">Visitors by Countries</h4> -->
                    <!-- <div class="row"> -->
                      <!-- <div class="col-md-5"> -->
                        <!-- <div class="table-responsive"> -->
                          <!-- <table class="table"> -->
                            <!-- <tbody> -->
                              <!-- <tr> -->
                                <!-- <td> -->
                                  <!-- <i class="flag-icon flag-icon-us"></i> -->
                                <!-- </td> -->
                                <!-- <td>USA</td> -->
                                <!-- <td class="text-right"> 1500 </td> -->
                                <!-- <td class="text-right font-weight-medium"> 56.35% </td> -->
                              <!-- </tr> -->
                              <!-- <tr> -->
                                <!-- <td> -->
                                  <!-- <i class="flag-icon flag-icon-de"></i> -->
                                <!-- </td> -->
                                <!-- <td>Germany</td> -->
                                <!-- <td class="text-right"> 800 </td> -->
                                <!-- <td class="text-right font-weight-medium"> 33.25% </td> -->
                              <!-- </tr> -->
                              <!-- <tr> -->
                                <!-- <td> -->
                                  <!-- <i class="flag-icon flag-icon-au"></i> -->
                                <!-- </td> -->
                                <!-- <td>Australia</td> -->
                                <!-- <td class="text-right"> 760 </td> -->
                                <!-- <td class="text-right font-weight-medium"> 15.45% </td> -->
                              <!-- </tr> -->
                              <!-- <tr> -->
                                <!-- <td> -->
                                  <!-- <i class="flag-icon flag-icon-gb"></i> -->
                                <!-- </td> -->
                                <!-- <td>United Kingdom</td> -->
                                <!-- <td class="text-right"> 450 </td> -->
                                <!-- <td class="text-right font-weight-medium"> 25.00% </td> -->
                              <!-- </tr> -->
                              <!-- <tr> -->
                                <!-- <td> -->
                                  <!-- <i class="flag-icon flag-icon-ro"></i> -->
                                <!-- </td> -->
                                <!-- <td>Romania</td> -->
                                <!-- <td class="text-right"> 620 </td> -->
                                <!-- <td class="text-right font-weight-medium"> 10.25% </td> -->
                              <!-- </tr> -->
                              <!-- <tr> -->
                                <!-- <td> -->
                                  <!-- <i class="flag-icon flag-icon-br"></i> -->
                                <!-- </td> -->
                                <!-- <td>Brasil</td> -->
                                <!-- <td class="text-right"> 230 </td> -->
                                <!-- <td class="text-right font-weight-medium"> 75.00% </td> -->
                              <!-- </tr> -->
                            <!-- </tbody> -->
                          <!-- </table> -->
                        <!-- </div> -->
                      <!-- </div> -->
                      <!-- <div class="col-md-7"> -->
                        <!-- <div id="audience-map" class="vector-map"></div> -->
                      <!-- </div> -->
                    <!-- </div> -->
                  <!-- </div> -->
                <!-- </div> -->
              <!-- </div> -->
            <!-- </div> -->
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
         
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../static/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../static/vendors/chart.js/Chart.min.js"></script>
    <script src="../static/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="../static/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="../static/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="../static/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../static/js/off-canvas.js"></script>
    <script src="../static/js/hoverable-collapse.js"></script>
    <script src="../static/js/misc.js"></script>
    <script src="../static/js/settings.js"></script>
    <script src="../static/js/todolist.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js"></script>
	<script type="text/javascript">
var dom = document.getElementById("doughnutChart1");
var myChart = echarts.init(dom);
var app = {};

var option;



option = {
  tooltip: {
    trigger: 'item'
  },
  series: [
    {
      name: 'Access From',
      type: 'pie',
      radius: ['40%', '100%'],
      avoidLabelOverlap: false,
      label: {
        show: false,
        position: 'center'
      },
      emphasis: {
        label: {
          show: true,
          fontSize: '40',
          fontWeight: 'bold'
        }
      },
      labelLine: {
        show: false
      },
      data: [
        { value: 541, name: 'TLSA' },
        { value: 345, name: 'APPL' },
        { value: 138, name: 'NVDA' },
        { value: 495, name: 'MSFT' }
      ]
    }
  ]
};

if (option && typeof option === 'object') {
    myChart.setOption(option);
}

        </script>
	    <script>
      var list = [];

      $(document).ready(() => {
        parse();
      });

      function parse() {
        fetch("./data/overview-holdings.json", {method: "GET"})
        .then(res => {
            return res.text();
        }).then(result => {
            list = JSON.parse(result);
            console.log(list);
            constructTable('#holdings-table');
        })
      }

      function constructTable(selector) {

        // Getting the all column names
        var cols = Headers(list, selector);

        // Traversing the JSON data
        $(selector).append('<tbody>');
          for (var i = 0; i < list.length; i++) {
            var row = $('<tr/>');
            for (var colIndex = 0; colIndex < cols.length; colIndex++)
            {
              var val = list[i][cols[colIndex]];

              // If there is any key, which is matching with the column name
              if (val == null) val = "";
                row.append($('<td/>').html(val));
            }
            // Adding each row to the table
            $(selector).append(row);
          }
          $(selector).append('</tbody>');
        }

      function Headers(list, selector) {
        var columns = [];
        var header = $('<tr/>');

        for (var i = 0; i < list.length; i++) {
          var row = list[i];

          for (var k in row) {
            if ($.inArray(k, columns) == -1) {
              columns.push(k);

              // Creating the header
              header.append($('<th/>').html(k));
            }
          }
        }
        // Appending the header to the table
        $(selector).append(header);
          return columns;
      }

    </script>

    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../static/js/dashboard.js"></script>
    <script src="../../static/js/chart.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>