<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Prototype | News</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../static/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../static/images/favicon.png" />
     <!--  jQuery -->
     <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="../../static/images/faces/face15.jpg" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Henry Klein</h5>
                  <span>Gold Member</span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="../../index.html">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Overview</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="trading.html">
              <span class="menu-icon">
                <i class="mdi mdi-chart-line"></i>
              </span>
              <span class="menu-title">Trading</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="mdi mdi-chart-arc"></i>
              </span>
              <span class="menu-title">Homemade ETF</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="portfolio-view.html">View</a></li>
                <li class="nav-item"> <a class="nav-link" href="portfolio-transfer.html">Manage</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="history.html">
              <span class="menu-icon">
                <i class="mdi mdi-file-document-box"></i>
              </span>
              <span class="menu-title">Trading History</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="news.html">
              <span class="menu-icon">
                <i class="mdi mdi-newspaper"></i>
              </span>
              <span class="menu-title">News</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="https://www.hsbc.com.hk/zh-hk/investments/products/stocks/trade25/" target="_blank" rel="noopener noreferrer">
              <span class="menu-icon">
                <i class="mdi mdi-school"></i>
              </span>
              <span class="menu-title">Trade25 Academy</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="/index.html"><img src="static/images/logo-mini.png" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <input type="text" class="form-control" placeholder="Search stocks">
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link" href="#">
                  <i class="mdi mdi-view-grid"></i>
                </a>
              </li>

              <li class="nav-item dropdown border-left">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                  <i class="mdi mdi-bell"></i>
                  <span class="count bg-danger"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                  <h6 class="p-3 mb-0">Notifications</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-currency-usd text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">TSLA</p>
                      <p class="text-muted ellipsis mb-0"> reaches $890.56 </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-currency-usd text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">AAPL</p>
                      <p class="text-muted ellipsis mb-0"> paid dividend $0.88 </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-file-chart text-warning"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">GOOG</p>
                      <p class="text-muted ellipsis mb-0"> announces annual report tomorrow </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">See all notifications</p>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="../../static/images/faces/face15.jpg" alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">Henry Klein</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">Profile</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Settings</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Log out</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">Advanced settings</p>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> News </h3>
              <!-- <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Whole Market</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Portfolio</li>
                </ol>
              </nav> -->
            </div>
            <div class="row">
              <!-- News card 1-->
              <div class="col-md-5 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">The Twitter Investors Musk Hopes to Keep May Not Want to Stay</h4>
                      <div class="item">
                        <a href="https://www.bloomberg.com/news/articles/2022-04-14/the-twitter-investors-musk-hopes-to-keep-may-not-want-to-stay" target="_blank" rel="noopener noreferrer">
                          <img src="../../static/images/news/Tesla2.jpg" alt="" style="width: 100%;">
                        </a>
                      </div>
                      <div class="d-flex py-4">
                        <ul>
                          <li>Alwaleed bin Talal rejects low-ball bid in a tweet Thursday</li>
                          <li>Cuban says Musk has opened floodgates for potential bidders</li>
                          <li><p>“I should also say the intent is to retain as many shareholders as is allowed by the law in a private company, which I think is around 2,000 or so,” Musk said at a TED event in Vancouver.</p></li>
                          </ul>
                        
                      </div>
                  </div>
                </div>
              </div>
              <!-- News card 2 -->
              <div class="col-md-7 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Tesla Earnings: Five Things to Listen For</h4>
                    <p class="card-description"> How much will Shanghai’s shutdown hurt, and how’s the Cybertruck coming?</p>
                    <div class="item" style="text-align: center;">
                      <a href="https://www.bloomberg.com/news/articles/2022-04-20/tesla-tsla-earnings-topics-shanghai-shutdown-cybertruck-mining-and-more" target="_blank" rel="noopener noreferrer">
                        <img src="../../static/images/news/Tesla1.jpeg" alt="" style="width: 100%;">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- News card 3 -->
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">India woos Intel and TSMC to set up local semiconductor plants</h4>
                    <p class="card-description">India is in talks with global chipmakers Intel Corp., GlobalFoundries Inc. and Taiwan Semiconductor Manufacturing Co. about setting up local operations, part of efforts to center more high-tech manufacturing in the country.</p>
                    <div class="item" style="text-align: center;">
                      <a href="https://economictimes.indiatimes.com/industry/cons-products/electronics/india-woos-intel-and-tsmc-to-set-up-local-semiconductor-plants/articleshow/91098333.cms?utm_source=contentofinterest&utm_medium=text&utm_campaign=cppst" style="color:#FFFFFF;" target="_blank" rel="noopener noreferrer">
                        <img src="../../static/images/news/new3.webp" alt="" style="width: 85%;">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- News card 4, 5 -->
              <div class="col-md-6 d-flex align-items-stretch">
                <div class="row">
                  <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">JPMorgan predicts iPhone revenue to fall short when Apple reports later this week</h4>
                        <div class="item" style="text-align: center;">
                          <a href="https://www.cnbc.com/2022/04/25/jpmorgan-predicts-iphone-revenue-to-fall-short-when-apple-reports-later-this-week.html" style="color:#FFFFFF;" target="_blank" rel="noopener noreferrer">
                            <img src="../../static/images/news/new4.webp" alt="" style="width: 85%;">
                          </a>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="https://www.bloomberg.com/news/articles/2022-04-08/google-poised-to-dodge-sanctions-in-records-hiding-row-with-u-s" style="color:#FFFFFF;" target="_blank" rel="noopener noreferrer">Google Poised to Dodge Sanctions in Records-Hiding Row With U.S. </a></h4>
                        <p class="card-description"> 
                          <ul>
                            <li>Judge says he lacks power to impose punishment on company </li>
                            <li>Google says it acted in good faith and is handing over records </li>
                          </ul>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- News card 6 -->
              <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Wall Street, tech shares stumble on fears of aggressive Fed </h4>
                    <p class="card-description">Wall Street's main indexes fell on Tuesday, dragged by weakness in tech and other growth stocks</p>
                    <div class="item" style="text-align: center;">
                      <a href="https://www.reuters.com/business/futures-edge-lower-prospect-fresh-russia-sanctions-2022-04-05/ " target="_blank" rel="noopener noreferrer">
                        <img src="../../static/images/news/Apple2.jpeg" alt="" style="width: 85%;">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- News card 7 -->
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Google Blocks YouTube Channel of Russia's Duma</h4>
                      <div class="item">
                        <a href="https://www.bloomberg.com/news/articles/2022-04-09/google-blocks-youtube-channel-of-russia-s-duma " target="_blank" rel="noopener noreferrer">
                          <img src="../../static/images/news/Google2.jpeg" alt="" style="width: 100%;">
                        </a>
                      </div>
                      <div class="d-flex py-4">
                        <ul>
                          <li>It is another proof of Washington's violation of rights and freedoms</li>
                          <li>Washington is ignoring all the principles of democracy to make sure that all platforms</li>
                          <li>Google is committed to compliance with all applicable sanctions and trade compliance laws</li>
                          </ul>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../static/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../static/js/off-canvas.js"></script>
    <script src="../../static/js/hoverable-collapse.js"></script>
    <script src="../../static/js/misc.js"></script>
    <script src="../../static/js/settings.js"></script>
    <script src="../../static/js/todolist.js"></script>
    <!-- endinject -->
  </body>
</html>