<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Prototype | Homemade ETF</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../static/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../static/images/favicon.png" />
    <!-- Danfo for DataFrame -->
    <script src="https://cdn.jsdelivr.net/npm/danfojs@1.0.4/lib/bundle.js"></script>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="../../static/images/faces/face15.jpg" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Henry Klein</h5>
                  <span>Gold Member</span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/index.html">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Overview</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/trading.html">
              <span class="menu-icon">
                <i class="mdi mdi-chart-line"></i>
              </span>
              <span class="menu-title">Trading</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="mdi mdi-chart-arc"></i>
              </span>
              <span class="menu-title">Homemade ETF</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/portfolio-view.html">View</a></li>
                <li class="nav-item"> <a class="nav-link" href="/portfolio-transfer.html">Manage</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/history.html">
              <span class="menu-icon">
                <i class="mdi mdi-file-document-box"></i>
              </span>
              <span class="menu-title">Trading History</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/news.html">
              <span class="menu-icon">
                <i class="mdi mdi-newspaper"></i>
              </span>
              <span class="menu-title">News</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="https://www.hsbc.com.hk/zh-hk/investments/products/stocks/trade25/" target="_blank" rel="noopener noreferrer">
              <span class="menu-icon">
                <i class="mdi mdi-school"></i>
              </span>
              <span class="menu-title">Trade25 Academy</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="static/images/logo-mini.png" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <input type="text" class="form-control" placeholder="Search stocks">
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link" href="#">
                  <i class="mdi mdi-view-grid"></i>
                </a>
              </li>

              <li class="nav-item dropdown border-left">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                  <i class="mdi mdi-bell"></i>
                  <span class="count bg-danger"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                  <h6 class="p-3 mb-0">Notifications</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-currency-usd text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">TSLA</p>
                      <p class="text-muted ellipsis mb-0"> reaches $890.56 </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-currency-usd text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">AAPL</p>
                      <p class="text-muted ellipsis mb-0"> paid dividend $0.88 </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-file-chart text-warning"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">GOOG</p>
                      <p class="text-muted ellipsis mb-0"> announces annual report tomorrow </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">See all notifications</p>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="../../static/images/faces/face15.jpg" alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">Henry Klein</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">Profile</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Settings</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Log out</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">Advanced settings</p>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial Body Title -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Homemade ETF Overview </h3>
            </div>
            
            <div class="row">
              <!-- Portfolio Value Card -->
              <div class="col-lg-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="page-header" style="margin: 0px 0px 0px 0px">
                      <h4 class="card-title">Homemade ETF Value</h4>
                      
                    </div>
                    <div class="row">
                      <div class="col"><b style="display:block">$1,815.40</b></div>
                      <nav aria-label="breadcrumb">
                        <ol class="breadcrumb" style="padding: 0px 0px 0px 0px">
                          <li class="breadcrumb-item"><a href="portfolio-transfer.html">Deposit</a></li>
                          <li class="breadcrumb-item"><a href="portfolio-transfer.html">Withdraw</a></li>
                        </ol>
                      </nav>
                    </div>
                    
                    <div class="row" style="padding-top: 20px">
                      <div class="col">
                        <p>Today's' P/L<br>
                          <span class="text-danger">-7.06%</span>
                        </p>
                      </div>
                      <div class="col">
                        <p style="text-align:right">P/L<br>
                          <span class="text-success">+2.17%</span>
                        </p>
                      </div>
                    </div>
                    <div class="row" style="padding-top: 10px">
                      <div class="col">
                        <p style="text-align:centre; color:grey">% of Account<br>
                          <span style="color:white">40.22%</span>
                        </p>
                      </div>
                      <div class="col">
                        <p style="text-align:right; color:grey">Acc. Value<br>
                          <span style="color:white">$4513.34</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Portfolio Management (Pie Charts) -->
              <div class="col-lg-8 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Portfolio Management</h4>
                    <div class="row">
                      <!-- Fractional25/static/js -->
                      <div class="col"><canvas id="doughnutChart1"></canvas></div>
                      <div class="col"><canvas id="doughnutChart2"></canvas></div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            
            <div class="row">
              <!-- Portfolio Balance -->
              <div class="h-25 col-lg-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Portfolio Balance</h4>
                    <canvas id="lineChart" style="height:250px"></canvas>
                  </div>
                </div>
              </div>
              <!-- Holdings -->
              <div class="col-lg-8 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="page-header">
                      <h4 class="card-title">Holdings</h4>
                      <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item active" aria-current="page">Overview</li>
                          <li class="breadcrumb-item"><a href="portfolio-transfer.html">Manage</a></li>
                        </ol>
                      </nav>
                    </div>
                      <div class="table-responsive">
                        <table class="table table-striped" id="holdings-table">
                        </table>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../static/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../../static/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../static/js/off-canvas.js"></script>
    <script src="../../static/js/hoverable-collapse.js"></script>
    <script src="../../static/js/misc.js"></script>
    <script src="../../static/js/settings.js"></script>
    <script src="../../static/js/todolist.js"></script>
    <script>
      var list = [];

      $(document).ready(() => {
        parse();
      });

      function parse() {
        fetch("./data/portfolio-holdings.json", {method: "GET"})
        .then(res => {
            return res.text();
        }).then(result => {
            list = JSON.parse(result);
            console.log(list);
            constructTable('#holdings-table');
        })
      }

      function constructTable(selector) {

        // Getting the all column names
        var cols = Headers(list, selector);

        // Traversing the JSON data
        $(selector).append('<tbody>');
          for (var i = 0; i < list.length; i++) {
            var row = $('<tr/>');
            for (var colIndex = 0; colIndex < cols.length; colIndex++)
            {
              var val = list[i][cols[colIndex]];

              // If there is any key, which is matching with the column name
              if (val == null) val = "";
                row.append($('<td/>').html(val));
            }
            // Adding each row to the table
            $(selector).append(row);
          }
          $(selector).append('</tbody>');
        }

      function Headers(list, selector) {
        var columns = [];
        var header = $('<tr/>');

        for (var i = 0; i < list.length; i++) {
          var row = list[i];

          for (var k in row) {
            if ($.inArray(k, columns) == -1) {
              columns.push(k);

              // Creating the header
              header.append($('<th/>').html(k));
            }
          }
        }
        // Appending the header to the table
        $(selector).append(header);
          return columns;
      }

    </script>

    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../../static/js/chart.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>